.box {
  border-radius: 10px;
}

h1 {
  color: blue;
  font-size: 14px;
}

h2 {
  color: green;
  font-size: 15px;
}

p {
  padding: 20px;
}

p {
  padding: 10px 20px;
}

p {
  padding: 10px 20px 40px;
}

p {
  padding: 10px 20px 30px 40px;
}
