/* !Para toda a pagina*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*! configurando o ROOT Font Size e utilizando REM para medidas,pois o tamanho da letra se torna dinamica para mobile screen*/
html {
  /* ! O padrao é 16px, e eu quero a % equivalente a 10px, então (10/16)*100 = 62.5%*/
  font-size: 62.5%; /* ? 1 REM == 10px*/
}

body {
  
  box-sizing: border-box;
}