nav {
  background: #962acd;
  color: #fff;
  width: 300;
  font-size: 1.2rem;
}

aside {
  width: 300px;
}

section {
  font-family: "Lucida Grande";
  font-weight: bold;
}

body {
  background: red;
  color: #ffffff;
}

section {
  background: rgba(0, 0, 0, 0.7);
  margin: 10px 20px 15px 20px;
}
